* {
	padding: 0;
	margin: 0;
}

* {
	/*border: 1px solid red;*/
}

/*dark-grey: #212221*/
/*blue: #1181b2*/
/*light-blue: #ddedf4*/
/*purple: #44449b*/

.nav_section {
	width: 100%;
	height: 12vh;
	background: #212221;
	color: #1181b2;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 38px;
	text-align: center;
	line-height: 33px;
	padding: 8px;
}

.nav_text {
	margin-top: 10px;
}

.main_body-section {
	height: 83vh;
	background: #ddedf4;
	color: #9d8d8f;
}

footer {
	height: 3vh;
	width: 100%;
  background: #44449b;
}

.js_data-section {
	padding: 1%;
	width: 350px;
  /*height: 175px;*/
	background: #1181b2;
	font-size: 20px;
	color: #faed26;
	font-family: 'Allerta Stencil', sans-serif;
	display: inline-block;
}

.user-info {
	font-size: 14px;
}

.js_user-name {
	font-size: 24px;
	font-weight: bold;
}

.js_hydro {
	width: 95px;
	height: 35px;
	border-radius: 3px;
	border: none;
}

.js_hydro-button {
	background: #46344e;
	color: #ffffff;
}

.body_card-section {
	height: 94%;
  width: 70%;
  display: inline-block;
  padding: 2%;
}

.friends_section {
	background: #44449b;
	float: right;
	height: 100%;
	width: 23%;
}

.nav_subtext {
	font-size: 18px;
	font-family: sans-serif;
	color: #ffffff;
}
